<h2> Start Conversation </h2>

<%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
    <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: false, class: 'form-control arthurs-dropdown', hidden: true %>
  </div><br>

  <%= submit_tag 'Send', class: 'btn btn-primary' %>
<% end %>

