<DOCTYPE html>
<html>
<head>
<div class="page-header">
    <div class="header-container">
      <h1>Helping Hands</h1>
      <h3>Helping people help people</h3>
    </div>
    </div>
</head>

<body>
<h1>List a task</h1>

<%= form_for @task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= form.label :address %>
  <%= form.text_area :address %>
  <%= form.submit "List Task" %>
<% end %>
</body>