<DOCTYPE html>
<html>
<head>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGFHRMmmSTdvdfj8LhuR2vLqcVDH1_Xwg&callback=initMap"
                                       async defer></script>

<div class="page-header">
    <div class="header-container">
      <h1>Helping Hands</h1>
      <h3>Helping people help people</h3>
    </div>
    <div class=new-task><%= link_to 'New Task', new_task_path %></div> 
    <div class=new-task><%= link_to('Logout', destroy_user_session_path, method: :delete) %></div> 
    </div>
</head>

<body> 
<div class=detailed-title><%= @task.title %></div>
<br>
<div class=detailed-description><%= @task.description %></div>
<br>
<div class=detailed-address><%= @task.address %></div>


<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@task.latitude},#{@task.longitude}&key=AIzaSyCGFHRMmmSTdvdfj8LhuR2vLqcVDH1_Xwg", alt: "Map" %>
</p>




</body>


</html>

