<div class="conversation_container">
  <h2><%= current_user.name %>'s conversation </h2>

        <%= form_tag reply_conversation_path(@conversation), method: :post do %>
          <div class="form-group">
            <%= text_area_tag 'body', nil, class: 'form-control', placeholder: 'Type something...', required: true %>
          </div>
          <%= submit_tag "Send Message", class: 'btn btn-primary' %>
        <% end %>

    <div class="panel-body">
      <div class="messages">
        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <div class="media">
            <% message = receipt.message %>

            <div class="media-body">
              <%= message.body %>
              <h6 class="media-heading"><%= message.sender.name %>
                says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
            </div>
            
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

