<!DOCTYPE html>
<html>
  <head>
    <title>Helping Hands</title>
    <%= favicon_link_tag asset_path('helping_hands.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page-header">
      <div class="header-container">
        <h1>Helping Hands</h1>
        <h3>Helping people help people</h3>

        <nav id="main_nav">
          <ul>
            <% unless current_page?('/') %>
              <li>
                <%= link_to 'Home', '/' %>
              </li>
            <% end %>
            <% if current_user %>
              <li>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
              </li>
              <li>
                <%= link_to 'Messages', conversations_path %>
              </li>
              <% if current_user.user_type == 'volunteer' %>
                <% unless current_page?('/tasks') %>
                  <li>
                    <%= link_to 'Tasks', '/tasks' %>
                  </li>
                <% end %>
              <% elsif  current_user.user_type == 'beneficiary' %>
                <% unless current_page?('/tasks/new') %>
                  <li>
                    <%= link_to 'New task', '/tasks/new' %>
                  </li>
                <% end %>
                 <% unless current_page?("/users/#{current_user.id}") %>
                  <li>
                    <%= link_to 'My profile', "/users/#{current_user.id}" %>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              <% unless current_page?(new_user_session_path) %>
                <li>
                  <%= link_to 'Log in', new_user_session_path %>
                </li>
              <% end %>
              <% unless current_page?(new_user_registration_path) %>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
      
  
    </div>
    <div id="content">
      <div id="flash-messages" class="flash-message container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>