<!DOCTYPE html>
<html>
  <head>
    <title>Helping Hands</title>
    <%= favicon_link_tag asset_path('helping_hands.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page-header">
      <div class="header-container">
      <div class="title">
        <h1>Helping Hands</h1>
        <h3>Helping people help people</h3>
      </div>
        <nav id="main_nav">
          <ul>
            <%= link_to 'Home', '/' %>
            <% if current_user %>
              |
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
              <% unless current_page?('/conversations') %>
                |
                <%= link_to 'Messages', conversations_path %>
              <% end %>
              <% if current_user.user_type == 'volunteer' %>
                <% unless current_page?('/tasks') %>
                  |
                  <%= link_to 'Tasks', '/tasks' %> 
                <% end %>
              <% elsif  current_user.user_type == 'beneficiary' %>
                <% unless current_page?('/tasks/new') %>
                  |
                  <%= link_to 'New task', '/tasks/new' %>
                <% end %>
                <% unless current_page?("/users/#{current_user.id}") %>
                  |
                  <%= link_to 'My profile', "/users/#{current_user.id}" %>
                <% end %>
              <% end %>
            <% else %>
              <% unless current_page?(new_user_session_path) %>
                |
                <%= link_to 'Log in', new_user_session_path %>
              <% end %>
              <% unless current_page?(new_user_registration_path) %>
                |
                <%= link_to 'Sign up', new_user_registration_path %>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
      
  
    </div>
    <div id="content">
      <div id="flash-messages" class="flash-message container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>