<DOCTYPE html>
<html>
<body>

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
  <%= f.label :user_type_selector do %>
    <%= f.radio_button :user_type, 'volunteer', :checked => true %> <br>
    Are you a:<br>
    <%= label :user_type_volunteer, 'Volunteer' %><%= f.radio_button :user_type, 'beneficiary' %><%= label :user_type_beneficiary, 'Beneficiary' %>
  <% end %>
  
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, placeholder: 'e.g. Joe Bloggs', autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, placeholder: 'e.g. joe@bloggs.com', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: 'New password', autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, placeholder: 'Confirm password', autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>


</body>
